<form [formGroup]="form">
  <div class="flex flex-column pb-3">
    <label class="pb-1" for="title">Title *</label>
    <input formControlName="title" id="title" pInputText type="text"/>
  </div>

  <div class="flex flex-column pb-3">
    <label class="pb-1" for="description">Description *</label>
    <textarea
      [autoResize]="true"
      formControlName="description"
      id="description"
      pInputTextarea
      rows="3"
      type="text"></textarea>
  </div>

  <div class="flex flex-column pb-3">
    <label class="pb-1" for="fileName">File name *</label>
    <input
      [readonly]="true"
      formControlName="fileName"
      id="fileName"
      pInputText
      type="text"/>
  </div>

  <div class="flex flex-column pb-3" style="max-width: 206px">
    <label class="pb-1" for="price">Price *</label>
    <span class="p-input-icon-right">
      <i class="pi pi-euro"></i>
      <input
        pattern="^[0-9]*$"
        formControlName="price"
        id="price"
        pInputText
        style="max-width: 206px"
        type="text"/>
    </span>

    <div
      class="pt-1"
      style="color: #e24c4c"
      *ngIf="form.get('price')?.hasError('pattern')">
      Insert only numeric values.
    </div>
  </div>

  <div class="flex flex-column pb-3">
    <label class="pb-1" for="createdAt">Upload date *</label>
    <p-calendar
      [minDate]="minDate"
      [showIcon]="true"
      dateFormat="dd/mm/yy"
      formControlName="createdAt"
      id="createdAt"></p-calendar>
  </div>

  <div class="flex flex-column">
    <label class="pb-1" for="tags">Tags *</label>
    <p-chips
      [addOnBlur]="true"
      [addOnTab]="true"
      [allowDuplicate]="false"
      [styleClass]="'block'"
      formControlName="tags"
      id="tags"></p-chips>
  </div>
</form>
