<div class="container">
  <p-card>
    <p-image [preview]="false" [src]="image.url" alt="" width="100%"></p-image>

    <ng-template pTemplate="footer">
      <div class="flex justify-content-between align-items-center px-2 pb-2">
        <div class="flex flex-column pr-3">
          <div class="flex flex-wrap align-items-center">
            <p class="font-bold text-sm m-0 pr-1">
              {{ image.title }}
            </p>
            <div *ngFor="let tag of image.tags" class="flex ml-1">
              <p-tag
                [rounded]="true"
                [styleClass]="'font-normal'"
                [style]="{ height: '20px', 'background-color': '#c5c5c5' }"
                [value]="tag"
                icon="pi pi-tag">
              </p-tag>
            </div>
          </div>
          <p class="text-xs my-1">
            {{ image.createdAt | date: 'dd/MM/yyyy' }}
          </p>
          <p class="text-xs my-1 text-justify">{{ image.description }}</p>
        </div>

        <div class="flex flex-column align-items-end">
          <button
            (click)="downloadImage.emit(image)"
            class="h-1rem w-2rem text-xs justify-content-center mb-1"
            pButton>
            <i class="pi pi-download"></i>
          </button>

          <button
            (click)="deleteImage.emit(image)"
            class="h-1rem w-2rem text-xs justify-content-center p-button-danger"
            pButton>
            <i class="pi pi-trash"></i>
          </button>

          <p class="font-bold m-0 pt-2">
            {{ image.price | currency: 'EUR' : '€' : '1.2-2' }}
          </p>
        </div>
      </div>
    </ng-template>
  </p-card>
</div>
